
[Bb]uild*/
[Cc]make*/
[Dd]ebug/
[Rr]elease/
*.vcxproj
*.vcxproj.filters
*.sln
*.suo
*.user
*.ncb
*.sdf
*.opensdf
cmake_install.cmake
CMakeCache.txt
Testing/
DartConfiguration.tcl
Makefile
install_manifest.txt

# Logs
logs/
*.log

# Editor/IDE specific files
.vscode/
.spectory/

# OS specific files
.DS_Store
Thumbs.db

# Executables and other compiled objects
*.exe
*.dll
*.so
*.o
*.obj
*.lib
*.a

# Generated reports
reports/
*.json 