
[Bb]uild*/
[Cc]make*/
[Dd]ebug/
[Rr]elease/
*.vcxproj
*.vcxproj.filters
*.sln
*.suo
*.user
*.ncb
*.sdf
*.opensdf
cmake_install.cmake
CMakeCache.txt
Testing/
DartConfiguration.tcl
Makefile
install_manifest.txt

# Node / JS
node_modules/

# Logs
logs/
*.log
*.txt
output.*
log_*.txt
*.manifest

.vscode/
.spectory/

.DS_Store
Thumbs.db

*.exe
*.dll
*.so
*.o
*.obj
*.lib
*.a

reports/
*.json 

*.log
*.txt
output.*
log_*.txt
*.manifest

*.bak
*.copy
README copy.md

# Arquivos temporários específicos do seu projeto
TESTE
ascii-text-art.txt
multiple_files

tests/*
!tests/*.c
!tests/*.h 